{% extends 'layout.html' %}

{% block content %}
    <div class="wrapper">
        <div class="message_list">
            <h5><u>{{ numOfMsgReceived }} Message(s) for You</u></h5>
            {% for message in msgList %}
                <div class="message_row">
                    <div class="message_content">
                        <p><b>{{ message['first_name'] }} {{ message['last_name'] }}</b>
                           <i>{% if message['mon'] != 0 %}
                                ({{ message['mon'] }} Month(s)
                            {% elif message['dy'] != 0 %}
                                ({{ message['day'] }} Day(s)
                            {% elif message['hr'] != 0 %}
                                ({{ message['hr'] }} Hour(s)
                            {% elif message['min'] != 0 %}
                                ({{ message['min'] }} Minute(s)
                            {% else %}
                                ({{ message['sec'] }} Second(s)
                            {% endif %} ago)</i></p>
                        <p>{{ message['message_content'] }}</p>
                    </div>
                    <div class="message_action">
                        <a href="/delete_message/{{ message['id'] }}">
                            <i class="material-icons material-icons-pointer">delete_forever</i>
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="messaging">
            <h5><u>Send Messages</u></h5>
            <p>You have sent {{ numOfMsgSent }} messages so far.</p>
            <form action="/send_message" method="POST" class="message_form">
                <div class="form-group">
                    <label for="users">Message To</label>
                    <select name="users" id="" class="form-control">
                        <option value=""></option>
                        {% if usersList %}
                            {% for user in usersList %}
                                <option value="{{ user['id'] }}">{{ user['first_name'] }} {{ user['last_name'] }}</option>
                            {% endfor %}
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="message_content">Message Content</label>
                    <textarea name="message_content" id="" cols="30" rows="5" class="form-control"></textarea>
                </div>
                <input type="submit" value="SEND" class="btn btn-primary">
            </form>
        </div>
    </div>
{% endblock %}