{% extends 'layout.html' %}

{% block content %}
    <script>
        $(document).ready(function(){
            // txtFromDate = dateFrom
            // txtToDate = dateTo
            $("#dateFrom").datepicker({
                minDate:0,
                maxDate:"+30D",
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd',
                onSelect: function(selected) {
                    $("#dateTo").datepicker("option","minDate", selected)
                }
            });
            $("#dateTo").datepicker({
                minDate:0,
                maxDate:"+30D", 
                numberOfMonths: 1,
                dateFormat: 'yy-mm-dd',
                onSelect: function(selected) {
                    $("#dateFrom").datepicker("option","maxDate", selected)
                }
            });  
        });
    </script>
    <div class="app-form">
        <p>Register Here!</p>    
        <form action="/register_user" method="POST">
            <div class="form-group">
                <label for="first_name">First Name</label>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == 'first_name': %}
                                <p class="error_message">{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                <input type="text" class="form-control" value="{{ fname }}" name="first_name">
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'last_name' %}
                            <p class="error_message">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" class="form-control" value="{{ lname }}" name="last_name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'email' %}
                            <p class="error_message">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="text" class="form-control" value="{{ email }}" name="email">
            </div>
            <!-- <div class="form-group">
                <p>Date Form: <input type="text" class="form-control" name="date_from" id="dateFrom"></p>
                <p>Date To: <input type="text" class="form-control" name="date_to" id="dateTo"></p>
            </div>  -->
            <div class="form-group">
                <label for="password">Password</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'password' %}
                            <p class="error_message">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
                <label for="confirm_password">Confirm Password</label>
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == 'confirm_password' %}
                            <p class="error_message">{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <input type="password" class="form-control" name="confirm_password">
            </div>            
            <input type="submit" class="btn btn-primary" value="SIGN UP">
        </form>
    </div>
{% endblock %}